<div style="padding: 1rem; width: 18rem">
  <input
    type="text"
    (keyup)="handleKeyup($event)"
    [(ngModel)]="searchInput"
    placeholder="find..."
  />
  <ul style="width: 100%">
    <li>
      <div style="display: flex;">
        <div
          style="width: 5rem"
          class="table-item table-header start-table-item"
        >
          Code
        </div>
        <div style="width: 100%" class="table-item table-header">Text</div>
      </div>
    </li>
    <li
      *ngFor="let item of filteredItems; let i = index; let even = even"
      [ngClass]="{ selected: i === selectedItemIndex }"
      [ngStyle]="{ 'background-color': i % 2 ? '#f5f5f5' : 'white' }"
    >
      <div style="display: flex; ">
        <div style="width: 5rem" class="table-item start-table-item">
          {{ item.code }}
        </div>
        <div style="width: 100%" class="table-item">
          {{ item.text }}
        </div>
      </div>
    </li>
  </ul>
  <pre>selectedItemIndex: {{ selectedItemIndex }}</pre>
  <pre>selectedData: {{ selectedData | json }}</pre>
</div>
